nr_script.json
[{"id":"a10c452.f5ef3b8","type":"mqtt-broker","z":"c64e038b.39b2","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e96e8080.16918","type":"mqtt in","z":"c64e038b.39b2","name":"Get Sensor Data","topic":"chocof/sensors","broker":"a10c452.f5ef3b8","x":88,"y":274,"wires":[["cde467b0.321b98"]]},{"id":"473fe5e5.b8c01c","type":"mqtt out","z":"c64e038b.39b2","name":"Send Sensor Data","topic":"chocof/sensors","qos":"","retain":"","broker":"a10c452.f5ef3b8","x":577,"y":115,"wires":[]},{"id":"974a8876.68b578","type":"function","z":"c64e038b.39b2","name":"Generate Values","func":"msg.payload = {type : msg.payload, value : 0}\nif (msg.payload.type == \"temp\")\n    msg.payload.value = Math.random()*60\nelse if (msg.payload.type == \"moist\")\n    msg.payload.value = Math.random()*80\nelse if (msg.payload.type == \"light\")\n    msg.payload.value = Math.random()*100\nreturn msg;","outputs":1,"noerr":0,"x":343,"y":116,"wires":[["473fe5e5.b8c01c","98dc1ce.f6723e"]]},{"id":"830191b8.7cfe7","type":"inject","z":"c64e038b.39b2","name":"Temp Sensor","topic":"Sensor","payload":"temp","payloadType":"str","repeat":"","crontab":"","once":false,"x":94,"y":66,"wires":[["974a8876.68b578"]]},{"id":"ba0d62a5.45f2a","type":"inject","z":"c64e038b.39b2","name":"Moist Sensor","topic":"Sensor","payload":"moist","payloadType":"str","repeat":"","crontab":"","once":false,"x":94,"y":119,"wires":[["974a8876.68b578"]]},{"id":"fad2f035.052d1","type":"inject","z":"c64e038b.39b2","name":"Light Sensor","topic":"Sensor","payload":"light","payloadType":"str","repeat":"","crontab":"","once":false,"x":94,"y":169,"wires":[["974a8876.68b578"]]},{"id":"570715e2.a8f8ec","type":"comment","z":"c64e038b.39b2","name":"Sensor Component","info":"This represents a sensor. Every time you click\non the appropriate Input node an random value is\ngenerated and then sent through mqtt.","x":112,"y":21,"wires":[]},{"id":"f66330e4.099cd","type":"comment","z":"c64e038b.39b2","name":"Data Processing Component","info":"This component represents Basic data processing\nmachine.\n\nTEMP\n-----\nSend mail with forecast if temp is high\n\nLIGHT\n---- \nSend mail about light\n\nMOIST\n----\nSend mqtt message to arduino device","x":152,"y":227,"wires":[]},{"id":"dfad91ad.20527","type":"switch","z":"c64e038b.39b2","name":"Input check","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"temp","vt":"str"},{"t":"eq","v":"light","vt":"str"},{"t":"eq","v":"moist","vt":"str"}],"checkall":"true","outputs":3,"x":149,"y":408,"wires":[["6364055a.9c9bfc"],["6b5008d7.94aff8"],["c032680b.3fcd98"]]},{"id":"33b5b905.cc4a46","type":"e-mail","z":"c64e038b.39b2","server":"smtp.gmail.com","port":"465","name":"fotisdtsokos@Gmail.com","dname":"Notify User (Temp)","x":789,"y":372,"wires":[]},{"id":"3aca8cd.fc53574","type":"e-mail","z":"c64e038b.39b2","server":"smtp.gmail.com","port":"465","name":"fotisdtsokos@gmail.com","dname":"Notify User  (Light)","x":550,"y":403,"wires":[]},{"id":"cad0c816.352f38","type":"comment","z":"c64e038b.39b2","name":"Actuation Component","info":"This component waters the plant when an mqtt message\nis received\n","x":105,"y":551,"wires":[]},{"id":"bb3546d7.44cab8","type":"mqtt in","z":"c64e038b.39b2","name":"Instruction To water Plants","topic":"chocof/water_plants","broker":"a10c452.f5ef3b8","x":139,"y":610,"wires":[["8527b34a.7ad85"]]},{"id":"635b34d9.9ca4cc","type":"function","z":"c64e038b.39b2","name":"Set mail payload","func":"w = msg.payload\nmsg.payload = \"Temperature has risen. Take care of your plants.\\n\\\nWeather forecast for tommorow : \" + w.weather + \"\\n\" +\n\"Info : \" + w.detail + \"\\n\"+\n\"Maximum Temperature : \"  + w.maxtemp + \"\\n\" + \n\"Minimum Temperature : \"  + w.mintemp + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":320,"wires":[["33b5b905.cc4a46"]]},{"id":"6364055a.9c9bfc","type":"function","z":"c64e038b.39b2","name":"Check Temp","func":"if (msg.payload.value > 30)\n    return msg;\nreturn null    ","outputs":1,"noerr":0,"x":342,"y":320,"wires":[["635b34d9.9ca4cc"]]},{"id":"cde467b0.321b98","type":"json","z":"c64e038b.39b2","name":"Make JSON","x":107,"y":340,"wires":[["dfad91ad.20527"]]},{"id":"6b5008d7.94aff8","type":"function","z":"c64e038b.39b2","name":"Check Light","func":"if (msg.payload.value > 30){\n    msg.payload = \"Wow much light\" \n}\nreturn null    ","outputs":1,"noerr":0,"x":349,"y":405,"wires":[["3aca8cd.fc53574"]]},{"id":"c032680b.3fcd98","type":"function","z":"c64e038b.39b2","name":"Check Moist","func":"if (msg.payload.value > 30)\n    return msg;\nreturn null    ","outputs":1,"noerr":0,"x":358,"y":473,"wires":[["df020666.20fdf8"]]},{"id":"df020666.20fdf8","type":"mqtt out","z":"c64e038b.39b2","name":"Ask to water plants","topic":"chocof/water_plants","qos":"","retain":"","broker":"a10c452.f5ef3b8","x":556,"y":473,"wires":[]},{"id":"8527b34a.7ad85","type":"mqtt out","z":"c64e038b.39b2","name":"Water Plant","topic":"chocof/water","qos":"","retain":"","broker":"a10c452.f5ef3b8","x":408,"y":611,"wires":[]},{"id":"13de2181.ec21de","type":"inject","z":"c64e038b.39b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135,"y":669,"wires":[["8527b34a.7ad85"]]},{"id":"98dc1ce.f6723e","type":"debug","z":"c64e038b.39b2","name":"","active":true,"console":"false","complete":"false","x":562,"y":214,"wires":[]}]